@model IEnumerable <Livro.Model.Cliente>
@{
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>index</title>
</head>
<body>
    <div> 
        <h3>Bem vindo @Session["AdminNome"] !</h3>
    </div>
    <br>
    <h5>Lista de vendas</h5>
    <table class="table">
        <tr>
            <td>
                Nome do cliente
            </td>

            <td>
                Quantidade de livros comprados
            </td>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Venda.Count)
                </td>

                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |

                </td>
            </tr>
        }
    </table>
</body>
</html>
