@model  Livro.View.Models.Cliente
@{
    Layout = "~/Views/Shared/ClienteLayout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div> 
        <h1>Bem vindo @Model.Nome!</h1><br>       
    </div>
</body>
</html>
