
@{
    Layout = "~/Views/Shared/Login.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Erro</title>
</head>
<body>
    <div> 
        <h2>Usuário ou senha errados!</h2>
    </div>
</body>
</html>
